# Answer 1

In [245]:
! pip install selenium

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

In [266]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [267]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [248]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [268]:
url = 'https://www.naukri.com/ '
driver.get(url)

In [270]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Analyst")

In [271]:
search_field_loc=driver.find_element_by_class_name("suggestor-input")
search_field_loc.send_keys("Bangalore")

In [272]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [273]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [274]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [275]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="52b9ce75-48f9-4a5e-9136-e7db2b039767")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="3f6c9e63-1ed7-4a81-ab10-b0ec0536cf08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="be44ab44-f443-496b-93c6-3d975a5b04c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="3436f167-c991-4918-9b93-85c04c2a0e44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="a2f8c921-8f9e-4445-a41d-853ae4799e21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="c6ee2778-e04b-408c-978f-89f280317ebf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="8250600e-5b9e-4b3e-b510-981bc89b46f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="39ade097-f372-49f1-a532-c9ea6b2ad375")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="80dabc54-414e-4aef-bfc3-a984f1c44026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="a24b0fd0-9cca-44de-8e49-adb722a18ecd")>]

In [276]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Senior Data Analyst',
 'Data Analyst- customer facing',
 'Sr Data Analyst II',
 'Data Analyst',
 'Senior Business Analyst - Data Sciences and Advanced Analytics',
 'Business and Data Analyst',
 'Urgent hiring For Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Jr . Data Analyst']

In [277]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="c1a45cc7-f9e2-4a0f-9583-6c8c92bb9317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="5876db2e-e5de-452e-8dcf-62de708e6b2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="d491b98b-677a-4577-a1a8-a46a96be08d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="4f625ff3-626d-47f5-97f9-1095186df80b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="71b262af-c421-4e20-a2c5-03476c689163")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="5ac94d79-a339-433d-9c8d-baf8afc1f5da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="bc0dc649-d0a9-4745-af2f-e07cc47b384e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="bd0c32d5-ef16-40eb-8f07-7ce043c11e8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="f686cec2-fafe-46f3-a599-2c37539427ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="744c9f74-247d-4f53-9c33-aa9e8470e8ba")>]

In [278]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Thomson Reuters',
 'Synamedia',
 'IHS Markit',
 'VOLVO ASSET FINANCE INDIA PRIVATE LIMITED',
 'Vmware',
 'CAREERDOST ENTERPRISE',
 'upGrad',
 'Capco',
 'Gsn Games India',
 'Armorblox']

In [280]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="ea256c29-a82a-4064-947a-22d5c3892931")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="32305122-8043-4fcc-82b6-32f3b3e5250a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="724e455f-5777-4d85-a680-14230d3b81b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="2b6da2f6-3a4d-4abf-b79c-fff08638b219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="f6ff2c58-aca4-4ae8-8450-3f7c34208feb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="be25a9fd-8d5b-4e53-a9be-f03bde965ef5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="48d0d93c-5daf-4903-81f7-8a648c2bef44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="0cd38e67-b197-4c3a-972f-cc201c99d50e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="903e6460-1910-4003-905b-cd2e8103e71e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="a806f320-74d1-4c0d-ae7d-69dd482397c3")>]

In [281]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['2-4 Yrs',
 '0-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '2-7 Yrs',
 '7-12 Yrs',
 '3-7 Yrs',
 '0-2 Yrs']

In [283]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="687e986d-ca8f-49c1-862c-5c631749821f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="787f9ba0-8972-4302-a512-c2511ad8776e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="e106d2f3-0f08-4054-8d0c-eaa1c28030fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="774630b9-565b-4c09-966a-6ce0706ecbe5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="12b03102-f2f7-4d00-99f6-16ed9508465c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="1bad94ff-5ab7-4fc8-9fde-c3fb4ee81a9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="c232ac8d-f998-4fb7-b081-9a717110bc38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="d489dacc-a5f9-4399-b130-bd5e42103921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="c38eac00-e4b2-4de8-9203-8bbcea9b798f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b90cee024e513f362801d0b42f64d535", element="8e86b4d3-2301-477e-9113-9abc8fb366bb")>]

In [284]:
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [288]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

jobs

,title,company,experience_required,location
0,Senior Data Analyst,Thomson Reuters,2-4 Yrs,Bangalore/Bengaluru
1,Data Analyst- customer facing,Synamedia,0-3 Yrs,Bangalore/Bengaluru
2,Sr Data Analyst II,IHS Markit,3-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Data Analyst,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,2-4 Yrs,Bangalore/Bengaluru
4,Senior Business Analyst - Data Sciences and Ad...,Vmware,3-7 Yrs,Bangalore/Bengaluru
5,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
6,Urgent hiring For Senior Data Analyst,upGrad,2-7 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Capco,7-12 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
8,Senior Data Analyst,Gsn Games India,3-7 Yrs,Bangalore/Bengaluru
9,Jr . Data Analyst,Armorblox,0-2 Yrs,Bangalore/Bengaluru
10,Data Analyst,G S E-COMMERCE PVT LTD,4-7 Yrs,Bangalore/Bengaluru(Jayanagar)
11,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,4-9 Yrs,Bangalore/Bengaluru
12,SQL Data Analyst,Sequoia Consulting Group,2-4 Yrs,Bangalore/Bengaluru
13,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
14,Data Analyst II,Cerner,6-10 Yrs,Bangalore/Bengaluru
15,Data Analyst - Python / SQL,Myntra,1-4 Yrs,Bangalore/Bengaluru
16,Reference Data Analyst,Deutsche Bank,2-5 Yrs,Bangalore/Bengaluru
17,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
18,Officer - Category Demand Management ( Data An...,Myntra,1-4 Yrs,Bangalore/Bengaluru
19,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru

# Answer 2

In [194]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)

In [195]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [196]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [197]:
driver.get('https://www.naukri.com/')

In [198]:
search_field_designation=driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Scientist")

In [199]:
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [200]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [201]:
job_titles=[]
company_names=[]
locations_list=[]

In [125]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="7ca98ad3-bd39-4d91-b7a5-1a92dc95352a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="f32edb28-eb55-4123-94e1-0d1a590b62ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="91643047-d4db-4515-a5d1-ceac8e6be02a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="fc65ab3a-0944-4970-b322-165b911f02d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="ca39d190-b639-4875-8680-7aaf26601a8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="eed5b251-56e4-4fda-82ec-93312b88bd7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="a0253b92-ac0d-45f1-9b1a-bec08905cefa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="c8cdc048-104c-4903-8454-ccf2b03b63c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="a52cfccb-a531-40ad-96fd-9937a6c021ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="006af93d-2f3b-495c-9012-6939aecfa561")>]

In [126]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Sr. Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Lead - Data Scientist']

In [127]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="53c2c32b-dcd2-49d5-a631-d5e04de1e9a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="2dbc68de-5a85-4f22-8f3f-22238fc12cc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="d5e0d128-ab95-4121-9101-a721284fd050")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="2590aeba-9023-4454-b410-cbd6f38a6029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="76ed8f50-4bbc-490f-ac06-42e98569f5aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="5fe5cd8f-cb45-49d7-8cee-a660b1362838")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="e44bdd35-081f-4541-8068-36ccef12fa5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="d1e2fb9a-6dfd-4917-86e1-e1bde14d935b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="0b0ec1be-780e-4e12-9104-14bb48fe8ad3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="90a4d02b-0544-4772-a76d-5bd3d5541aee")>]

In [128]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['IBM',
 'IBM',
 'IBM',
 'IBM',
 'IBM',
 "HUDSON'S BAY SERVICES PRIVATE LIMITED",
 'TransOrg Solutions Services (P) Ltd.',
 'Walmart',
 'IBM',
 'Applied Materials']

In [129]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="1503c4ef-ea59-42bc-80bd-d1ed46ea5e68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="76f758eb-5473-4b35-be29-ecd02d4de885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="d0584c68-cce6-4158-b738-23385af489a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="cd9b48ca-03f8-443a-91a5-fe2748b92880")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="40773f02-ec59-429f-ada7-59624a3c85c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="fc5ddb1a-eb98-4e1e-9139-1abfaf4c5cb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="d3c4bc87-0225-4d26-aa39-8b8b8037736b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="999bf3b9-5bc5-483e-92b7-b5c5aa531988")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="47871cef-ae1e-4679-8f8d-6b43f410c7b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="138ba223152d15fcb862cfce475eed6d", element="a1ad3019-11bb-4963-9ede-729ea00f4944")>]

In [130]:
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [131]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=locations_list

jobs

,title,company,experience_required,location
0,Data Scientist: Advanced Analytics,IBM,3-7 Yrs,Bengaluru/Bangalore
1,Data Scientist: Artificial Intelligence,IBM,3-6 Yrs,Bangalore/Bengaluru
2,Data Scientist: Artificial Intelligence,IBM,0-5 Yrs,Bengaluru/Bangalore
3,Data Scientist: Artificial Intelligence,IBM,7-12 Yrs,Bengaluru/Bangalore
4,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Bengaluru/Bangalore
5,Sr. Data Scientist,HUDSON'S BAY SERVICES PRIVATE LIMITED,0-2 Yrs,Bangalore/Bengaluru
6,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,4-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
7,Senior Data Scientist,Walmart,2-7 Yrs,Bangalore/Bengaluru
8,Cognitive/AI Senior Data Scientist,IBM,6-10 Yrs,Bangalore/Bengaluru
9,Lead - Data Scientist,Applied Materials,1-4 Yrs,Bangalore/Bengaluru
10,Data Scientist,Aurigo Software Technologies Pvt Ltd,2-5 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
11,Senior Associate - Data Scientist,Affine,7-10 Yrs,Remote
12,Data Scientist: Artificial Intelligence,IBM,1-4 Yrs,Bangalore/Bengaluru
13,Data Scientist: Artificial Intelligence,IBM,5-8 Yrs,Bengaluru/Bangalore
14,Rolls-Royce Data Labs : Data Scientist,Rolls Royce,2-4 Yrs,Bangalore/Bengaluru
15,Data Scientist,Applied Materials,3-6 Yrs,Bangalore/Bengaluru
16,Staff Data Scientist,Walmart,6-10 Yrs,Bangalore/Bengaluru
17,Data Scientist: Artificial Intelligence,IBM,4-8 Yrs,Bangalore/Bengaluru
18,Staff Data Scientist,Walmart,5-8 Yrs,Bangalore/Bengaluru
19,Data Scientist,CRED,1-3 Yrs,Bangalore/Bengaluru

# Answer 9

In [297]:
driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')

url = "https://www.ambitionbox.com/"

driver.get(url)

driver.maximize_window()

In [298]:
search_job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_job.send_keys("Data scientist")

In [300]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_button.click()

In [301]:
company_Name = driver.find_elements_by_xpath("//p[@class='company body-medium']")
company_Name

company_Name1 = []


for i in company_Name:
    company_Name1.append(i.text)
company_Name1 = company_Name1[0:10]
company_Name1 = company_Name1[0:10]

company_Name1

['GENPACT India Private Limited',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'GENPACT India Private Limited',
 'TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED',
 'GENPACT India Private Limited',
 'Bristlecone India Limited',
 'Zyoin',
 'Ashkom Media India Private Limited',
 'Newgen Software Technologies Ltd.',
 'JK Technosoft Ltd']

In [302]:
company_rating = driver.find_elements_by_xpath("//span[@class='body-small']")
company_rating

company_rating1 = []

for i in company_rating:
    company_rating1.append(i.text)
    
company_rating1 = company_rating1[0:10]
company_rating1

['4.0', '3.9', '4.0', '3.9', '4.0', '3.8', '4.1', '3.7', '3.5', '3.7']

In [303]:
posted_on = driver.find_elements_by_xpath("//span[@class='body-small-l']")
posted_on

posted_on1 = []

for i in posted_on:
    posted_on1.append(i.text)
posted_on1 = posted_on1[0:10]
posted_on1

['14d ago',
 'via naukri.com',
 '7d ago',
 'via naukri.com',
 '19d ago',
 'via naukri.com',
 '5d ago',
 'via naukri.com',
 '1mon ago',
 'via naukri.com']

In [304]:
df3 = pd.DataFrame({})
df3['company_name'] = company_Name1
df3['company_rating'] = company_rating1
df3['posted_on'] = posted_on1

df3

,company_name,company_rating,posted_on
0,GENPACT India Private Limited,4.0,14d ago
1,EXL Services.com ( I ) Pvt. Ltd.,3.9,via naukri.com
2,GENPACT India Private Limited,4.0,7d ago
3,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,3.9,via naukri.com
4,GENPACT India Private Limited,4.0,19d ago
5,Bristlecone India Limited,3.8,via naukri.com
6,Zyoin,4.1,5d ago
7,Ashkom Media India Private Limited,3.7,via naukri.com
8,Newgen Software Technologies Ltd.,3.5,1mon ago
9,JK Technosoft Ltd,3.7,via naukri.com

# Answer 3

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver

In [48]:
driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')

In [49]:
url = "https://www.naukri.com/browse-jobs"

driver.get(url)



#entering "Data Analyst" in job search bar using selenium driver
search_job = driver.find_element_by_class_name('sugInp')
search_job.send_keys("Data Scientist")

#clicking submit button using selenium deriver
submit_button = driver.find_element_by_id("qsbFormBtn")
submit_button.click()

In [50]:
title_tags2= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags2


job_title2 =[]

for i in title_tags2:
    job_title2.append(i.text)


job_title2


location_tag2 = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
location_tag2


location3 =[]

for i in location_tag2[2::3]:
    location3.append(i.text)


location3

experience_2 = driver.find_elements_by_xpath("//i[@class='fleft icon-16 lh16 mr-4 naukicon naukicon-experience']//span")
experience_2


experience2 = []
for i in location_tag2[0::3]:
    experience2.append(i.text)

experience2


company_tag2 = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag2

company_name2 = []

for i in company_tag2:
    company_name2.append(i.text)


company_name2

['TransOrg Solutions Services (P) Ltd.',
 'TransOrg Solutions Services (P) Ltd.',
 'Fractal Analytics',
 'Ocrolus East',
 'IBM',
 'VISA',
 'IBM',
 'IBM',
 'IBM',
 'IBM',
 'Fractal Analytics',
 'PayU',
 'Ashkom Media India Private Limited',
 'Walmart',
 'IBM',
 'Pasona',
 'INOVARTECH PRIVATE LIMITED',
 'Huquo Consulting Pvt. Ltd',
 'Applied Materials',
 "HUDSON'S BAY SERVICES PRIVATE LIMITED"]

In [51]:
print(len(job_title2),len(company_name2),len(experience2),len( location3))

20 20 0 0

In [52]:
df2 = pd.DataFrame({})
df2['Job_title'] = job_title2
df2['Company_name'] = company_name2
df2

,Job_title,Company_name
0,Data Scientist/ Analyst Specialist,TransOrg Solutions Services (P) Ltd.
1,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.
2,Senior Data Scientist,Fractal Analytics
3,Senior Data Scientist,Ocrolus East
4,Data Scientist: Advanced Analytics,IBM
5,Data Scientist,VISA
6,Data Scientist: Artificial Intelligence,IBM
7,Data Scientist: Artificial Intelligence,IBM
8,Data Scientist: Artificial Intelligence,IBM
9,Data Scientist: Artificial Intelligence,IBM
10,"Data Scientist, Machine Learning (AIML)",Fractal Analytics
11,Data Scientist Opportunity with PayU - Diversi...,PayU
12,Data Scientist,Ashkom Media India Private Limited
13,Senior Data Scientist,Walmart
14,Cognitive/AI Senior Data Scientist,IBM
15,Data Scientist,Pasona
16,"Data Scientist / Lead Data Engineer (SQL, Azur...",INOVARTECH PRIVATE LIMITED
17,Assistant Manager/Manager/Senior Manager - Dat...,Huquo Consulting Pvt. Ltd
18,Lead - Data Scientist,Applied Materials
19,Sr. Data Scientist,HUDSON'S BAY SERVICES PRIVATE LIMITED

# Answer 4

In [338]:
driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')
url = "https://www.flipkart.com/"
driver.get(url)
driver.maximize_window()

In [339]:
search_glass = driver.find_element_by_class_name('_3704LK')
search_glass.send_keys("Sun Glasses")
button_1 = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
button_1.click()
driver.implicitly_wait(3)
click_button = driver.find_element_by_class_name("L0Z3Pu")
click_button.click()

In [340]:
brand_name = []
prd_desc = []
price = []

In [343]:
for k in range(1,4):

    
    brand = driver.find_elements_by_class_name('_2WkVRV')
    

    for i in brand:
        brand_name.append(i.text)

    desc = driver.find_elements_by_class_name('IRpwTa')
    

    for i in desc:
        prd_desc.append(i.text)

    cost = driver.find_elements_by_class_name("_30jeq3")
    

    for i in cost:
        price.append(i.text)
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")              

    try:

        driver.get(nxt_button[1].get_attribute('href'))
        

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [344]:
brand_name = brand_name[0:100]
prd_desc = prd_desc[0:100]
price = price[0:100]

In [345]:
df4 = pd.DataFrame({})
df4['brand_name'] = brand_name
df4['prd_desc'] = prd_desc
df4['[price]'] = price

In [346]:
df4

       brand_name                                           prd_desc [price]
0          BAJERO  UV Protection, Polarized, Riding Glasses Retro...  1,223
1   VINCENT CHASE          UV Protection Rectangular Sunglasses (50)    599
2        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    669
3        Fastrack   UV Protection Rectangular Sunglasses (Free Size)    525
4       Elligator                UV Protection Round Sunglasses (54)    305
..            ...                                                ...     ...
95         Fair-x  UV Protection, Mirrored, Riding Glasses Sports...    233
96         PIRASO              UV Protection Aviator Sunglasses (58)    199
97      New Specs   UV Protection Rectangular Sunglasses (Free Size)  7,059
98       Fastrack       UV Protection Aviator Sunglasses (Free Size)    249
99        Arnette              Mirrored Retro Square Sunglasses (56)    169

[100 rows x 3 columns]

# Answer 5

In [347]:
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [348]:
driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')
url ="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1"
driver.get(url)
driver.maximize_window()

In [349]:
urls=[]
short_review=[]
Rating1 = []
full_review = []

In [350]:
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating1.append(j.text)
    for m in driver.find_elements_by_xpath ("//div[@class='']"):
        full_review.append(m.text)

In [351]:
df7 = pd.DataFrame({})
df7['Short Desc'] = short_review
df7['Full Desc'] = full_review
df7['Ratings'] = Rating1

In [352]:
df7

,Short Desc,Full Desc,Ratings
0,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
1,Perfect product!,Its a must buy who is looking for an upgrade ...,5
2,Perfect product!,Value for money\nIts awesome mobile phone ...,5
3,Worth every penny,"Smooth like butter, camera like fantabulous, s...",5
4,Highly recommended,It's my first time to use iOS phone and I am l...,5
...,...,...,...
95,Worth every penny,Previously I was using one plus 3t it was a gr...,5
96,Great product,Amazing Powerful and Durable Gadget.\n\nIm am...,5
97,Worth every penny,"i11 is worthy to buy, too much happy with the ...",5
98,Good choice,So far its been an AMAZING experience coming ...,4
99,Highly recommended,What a camera .....just awesome ..you can feel...,5

# Answer 6

In [353]:
import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')
url = "https://www.flipkart.com/"
driver.get(url)
driver.maximize_window() 

search_glass = driver.find_element_by_class_name('_3704LK')
search_glass.send_keys("Sneakers")

button_1 = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
button_1.click()
driver.implicitly_wait(3)
click_button = driver.find_element_by_class_name("L0Z3Pu")
click_button.click()

brand_name1 = []
prd_desc1 = []
price1 = []

for k in range(1,4):

    
    brand = driver.find_elements_by_class_name('_2WkVRV')
    

    for i in brand:
        brand_name1.append(i.text)

    desc = driver.find_elements_by_class_name('IRpwTa')
    

    for i in desc:
        prd_desc1.append(i.text)

    cost = driver.find_elements_by_class_name("_30jeq3")
    

    for i in cost:
        price1.append(i.text)

 
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")             

    try:

        driver.get(nxt_button[1].get_attribute('href'))
        

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [354]:
brand_name1 = brand_name1[0:100]
prd_desc1 = prd_desc1[0:100]
price1 = price1[0:100]

In [355]:
df8 = pd.DataFrame({})
df8['brand_name'] = brand_name1
df8['prd_desc'] = prd_desc1
df8['[price]'] = price1

df8

   brand_name                                           prd_desc [price]
0    Navtrend                                   Sneakers For Men    599
1    ASTEROID                                   Sneakers For Men    549
2    URBANBOX                          Sneakers Sneakers For Men    148
3      BRUTON              Canvas shoes for Men Sneakers For Men    299
4      Labbin                                   Sneakers For Men    449
..        ...                                                ...     ...
95     Layasa                                   Sneakers For Men  1,902
96    Numenzo             White Sneaker For Men Sneakers For Men  2,038
97     Labbin                                   Sneakers For Men    549
98   HOTSTYLE                                   Sneakers For Men    706
99   ASTEROID  Original Luxury Branded Black Fancy Casual Wal...    249

[100 rows x 3 columns]

# Answer 7

In [356]:
driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')

url = "https://www.myntra.com/shoes"

driver.get(url)

driver.maximize_window()

In [357]:
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()

In [358]:
brand_name2 = []
prd_desc2 = []
price2 = []



brand = driver.find_elements_by_class_name('product-brand')
    

for i in brand:
    brand_name2.append(i.text)

desc = driver.find_elements_by_class_name('product-product')
    
for i in desc:
    prd_desc2.append(i.text)

cost = driver.find_elements_by_class_name("product-price")
    

for i in cost:
    price2.append(i.text)

In [359]:
len(brand_name2),len(prd_desc2),len(price2)

(50, 50, 50)

In [362]:
driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')

url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0"

driver.get(url)

driver.maximize_window()

In [363]:
brand_name3 = []
prd_desc3 = []
price3 = []



brand = driver.find_elements_by_class_name('product-brand')
    

for i in brand:
    brand_name3.append(i.text)

desc = driver.find_elements_by_class_name('product-product')
    
for i in desc:
    prd_desc3.append(i.text)

cost = driver.find_elements_by_class_name("product-price")
    

for i in cost:
    price3.append(i.text)

In [365]:
df9 = pd.DataFrame({})
df9['brand_name'] = brand_name2+brand_name3
df9['prd_desc'] = prd_desc2+prd_desc3
df9['[price]'] = price2+prd_desc3
df9

,brand_name,prd_desc,[price]
0,ALDO,Men Leather Driving Shoes,Rs. 12999
1,Nike,Women React Miler 3 Running,Rs. 8920Rs. 10495(15% OFF)
2,Nike,Women Basketball Shoes,Rs. 7495
3,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
4,ALDO,Men Woven Design Sneakers,Rs. 13999
...,...,...,...
95,Puma,Women Suede Mayu UP Sneakers,Women Suede Mayu UP Sneakers
96,J.FONTINI,Men Solid Loafers,Men Solid Loafers
97,Geox,Men Textured Leather Driving Shoes,Men Textured Leather Driving Shoes
98,EVADICT By Decathlon,Men Running Shoes,Men Running Shoes
99,PUMA Motorsport,Women RDG Cat Balle,Women RDG Cat Balle

# Answer 8

In [64]:
driver = webdriver.Chrome(r'C:\web driver\chromedriver.exe')

url = "https://www.amazon.in/"

driver.get(url)

driver.maximize_window() 

search_laptop = driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys("Laptop")

button_1 = driver.find_element_by_id('nav-search-submit-button')
button_1.click()
driver.implicitly_wait(3)

In [65]:
laptop_title = []
laptop_price = []



title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    

for i in title:
    laptop_title.append(i.text)

cost = driver.find_elements_by_class_name("a-price-whole")
    

for i in cost:
    laptop_price.append(i.text)

In [66]:
df10 = pd.DataFrame({})
df10['Laptop_Name'] = laptop_title[0:10]
df10['Laptop_Price'] = laptop_price[0:10]

df10

                                         Laptop_Name Laptop_Price
0  Dell New Vostro 3400 Laptop, Intel i5-1135G7, ...       50,490
1  Acer Predator Helios 300 11th Gen Intel Core i...     1,69,990
2  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...       26,990
3  Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...       28,402
4  Lenovo IdeaPad 3 11th Gen Intel i3 15.6" FHD T...       41,990
5  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...     1,01,112
6  Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD...       26,990
7  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...       25,390
8  Lenovo ThinkBook 14 Intel Core i5 11th Gen 14"...       61,990
9  HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...       36,990

# Answer 10

In [67]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [71]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [72]:
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [73]:
url = 'https://www.ambitionbox.com/ '
driver.get(url)

In [75]:
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input ")
search_field_designation.send_keys("Data Scientist")

In [76]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/button')
search_button.click()

In [90]:
Company_name=[] 
Number_of_salaries=[] 
Average_salary=[]
Min_salary=[]
Max_salary=[]
Experience=[]

In [91]:
companies_tags=driver.find_elements_by_xpath("//div[@class='name']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="ed2e43d4-8f68-41a6-bd42-aa80728d8c5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="22f1b602-bfa5-46ce-a6a6-72ffa9265f66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="5b28fffe-b23d-4428-9e75-aaffbc999a44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="1f045470-a379-44fa-b502-a912fcde1351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="ed5d643f-17aa-4e5a-9d67-5e1912d888e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="9e91955b-b3a1-45d6-aab8-aa84b846d0bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="9abf74af-24a9-4d88-bc0f-981667d9ef09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="f3430c28-4df3-419d-a69b-f1d61e67eeb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="7c6750e6-8521-40e1-8391-2f76364a8e56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="964447e7-4a4e-49de-8d3b-fb60d902172d")>]

In [92]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['TCS\n(781 Salaries)',
 'Accenture\n(472 Salaries)',
 'IBM\n(378 Salaries)',
 'Cognizant\n(304 Salaries)',
 'Capgemini\n(294 Salaries)',
 'Infosys\n(219 Salaries)',
 'Tech Mahindra\n(217 Salaries)',
 'Wipro\n(213 Salaries)',
 'Deloitte\n(162 Salaries)',
 'Fractal Analytics\n(151 Salaries)']

In [93]:
experience_tags=driver.find_elements_by_xpath("//div[@class='salaries one-line sbold-list-header']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="f085d635-9007-4545-b28f-b920658bd593")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="4f2e354b-111a-4324-a717-f754c4cc0674")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="6b312ec9-3dfa-4d3b-9f8d-67db2de687fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="93737ffb-994c-4c49-b0f1-a5c9629eaee4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="379d9f10-b7cf-4934-8dc8-0ae6ae6e8eee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="97625829-3bbd-46c6-ae59-2a61f156f8b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="d4e7bee9-4d54-43f8-b4b0-2415a1bf4108")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="2a6cce84-031f-4b28-b668-3485a801d0ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="9500c26b-d4d4-451f-8f0c-6de4c5d349b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="55c102bb-d293-4656-8bf8-4b7769edfd22")>]

In [94]:
for i in experience_tags:
    experience=i.text
    Experience.append(experience)
Experience[0:10]

['2-9 yrs exp',
 '2-9 yrs exp',
 '2-12 yrs exp',
 '2-10 yrs exp',
 '2-8 yrs exp',
 '2-8 yrs exp',
 '2-13 yrs exp',
 '2-9 yrs exp',
 '1-7 yrs exp',
 '2-6 yrs exp']

In [95]:
Average_salary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
Average_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="0c48f3c8-be73-43cf-b247-f9f910e2076b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="eabd164f-ed2f-4b73-bb38-f3671d585ada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="217fb692-a5f2-4ee0-be42-92b944bab2ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="a4229236-eb95-44bf-ad22-d2675369d983")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="69a620d7-8dd2-41b3-be6b-1425c0f3a6b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="6dfd97fc-12fb-48d3-89bb-b63a71929a29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="65b42a0c-5aba-4206-a46d-5c56345c0583")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="b3dd2cc2-1740-41db-9433-5e13066d8a72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="027cef3d-b306-42bb-a10a-a40061da8149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="a63bf825-7930-4ce1-a2e8-8543beed4d38")>]

In [96]:
for i in Average_salary_tags:
    Avg_salary=i.text
    Average_salary.append(Avg_salary)
Average_salary[0:10]

[' 7.1L', ' 20.1L', ' 7.0L', '', '', '', '', '', '', ' 7.7L']

In [97]:
Minimum_salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
Minimum_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="f49b7eb6-437c-4358-b5c5-12572b9689f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="b0f4e335-6a32-4f1d-9f15-4a69f6a2cc6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="2b9f0b9b-7583-4ee1-9f62-62a392f11f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="098c3a8f-f8f1-4873-88d8-4c57785c1436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="959f22b7-ee76-4742-9dda-9c04aad56658")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="2e817ba6-768e-4004-be20-b9dbbba8792d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="ee38eefc-790c-4a0e-a886-383b3577b55a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="14f27060-0c2d-43a2-9cce-453279ee64e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="29870062-de32-4745-8535-b9d24c01d8b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="aa69c268-362b-4a20-96c7-afa01ebebc4d")>]

In [98]:
for i in Minimum_salary_tags:
    min_salary=i.text
    Min_salary.append(min_salary)
Min_salary[0:10]

[' 3.0L', ' 16.0L', ' 9.3L', ' 42.0L', ' 3.0L', ' 19.5L', '', '', '', '']

In [99]:
Maximum_salary_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
Maximum_salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="f49b7eb6-437c-4358-b5c5-12572b9689f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="b0f4e335-6a32-4f1d-9f15-4a69f6a2cc6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="2b9f0b9b-7583-4ee1-9f62-62a392f11f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="098c3a8f-f8f1-4873-88d8-4c57785c1436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="959f22b7-ee76-4742-9dda-9c04aad56658")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="2e817ba6-768e-4004-be20-b9dbbba8792d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="ee38eefc-790c-4a0e-a886-383b3577b55a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="14f27060-0c2d-43a2-9cce-453279ee64e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="29870062-de32-4745-8535-b9d24c01d8b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dee6b856172ec0f19e51f3ea448ff5a1", element="aa69c268-362b-4a20-96c7-afa01ebebc4d")>]

In [100]:
for i in Maximum_salary_tags:
    max_salary=i.text
    Max_salary.append(max_salary)
Max_salary[0:10]

[' 3.0L', ' 16.0L', ' 9.3L', ' 42.0L', ' 3.0L', ' 19.5L', '', '', '', '']